body {
    font-family: 'Special Elite', 'cursive';
   background-color: #f5dbda;
}
.header_div {
   background-color:#ffffff;
   color: gray;
}
.header_div p {
    font-family: 'Roboto', 'sans-serif';
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bolder;
}
.main_div button {
    font-family: 'Roboto', 'sans-serif';
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: #6c757d;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    background-color: #ffffff;
    line-height: 30px;
    text-align: center;
    text-shadow: 5px 5px 5px, rgb(151,149,149);
    font-size: 20px;
}